{
  "env": {
    "es2021": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "no-console": "off",
    "linebreak-style": "off",
    "import/extensions": ["error", "ignorePackages"]
  }
}
